# Tumblr API OAuth credentials
# Get these from https://www.tumblr.com/oauth/apps
# TUMBLR_CONSUMER_KEY=your_consumer_key
# TUMBLR_CONSUMER_SECRET=your_consumer_secret
# TUMBLR_OAUTH_TOKEN=your_oauth_token
# TUMBLR_OAUTH_TOKEN_SECRET=your_oauth_token_secret
